*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	width: 100vw;
	height: 99.99vh;
	overflow: hidden;

	padding: 0;
	margin: 0;

	background: white;
	color: black;
}

canvas#app {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: white;
	color: black;
}
